rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if request.auth != null;
      // Permite escrita para os UIDs específicos OU se for uma conta de serviço (request.auth.token.email existe)
      allow write: if request.auth != null && (
        request.auth.uid == 'RtfNENOqMUdw7pvgeeaBVSuin662' ||
        request.auth.uid == 'KiSITAxXMAY5uU3bOPW5JMQPent2' ||
        request.auth.uid == 'Iehedj0FJtN36tGfDyIojpdiJGi2' ||
        request.auth.uid == 'J1Q8Zn9DuXaPmx7GMKHCQZ0NhUH3' ||
        request.auth.token.email != null // Adiciona esta linha para Service Accounts
      );
    }
  }
}
